In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [16]:
df = pd.read_csv('/Users/saptarshipal/DATA/pred_maint_v.2.1/data/ai4i2020.csv')
print(df.shape)
print(df.columns)

(10000, 14)
Index(['UDI', 'Product ID', 'Type', 'Air temperature [K]',
       'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]',
       'Tool wear [min]', 'Machine failure', 'TWF', 'HDF', 'PWF', 'OSF',
       'RNF'],
      dtype='object')

In [17]:
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [20]:
df1 = df.drop(columns='UDI',axis =1)

In [29]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Product ID               10000 non-null  object
 1   Type                     10000 non-null  object
 2   Air temperature [K]      10000 non-null  float64
 3   Process temperature [K]  10000 non-null  float64
 4   Rotational speed [rpm]   10000 non-null  int64
 5   Torque [Nm]              10000 non-null  float64
 6   Tool wear [min]          10000 non-null  int64
 7   Machine failure          10000 non-null  int64
 8   TWF                      10000 non-null  int64
 9   HDF                      10000 non-null  int64
 10  PWF                      10000 non-null  int64
 11  OSF                      10000 non-null  int64
 12  RNF                      10000 non-null  int64
dtypes: float64(3), int64(8), object(2)
memory usage: 1015.8+ KB

In [26]:
df1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Air temperature [K],10000.0,300.00493,2.000259,295.3,298.3,300.1,301.5,304.5
Process temperature [K],10000.0,310.00556,1.483734,305.7,308.8,310.1,311.1,313.8
Rotational speed [rpm],10000.0,1538.77610,179.284096,1168.0,1423.0,1503.0,1612.0,2886.0
Torque [Nm],10000.0,39.98691,9.968934,3.8,33.2,40.1,46.8,76.6
Tool wear [min],10000.0,107.95100,63.654147,0.0,53.0,108.0,162.0,253.0
Machine failure,10000.0,0.03390,0.180981,0.0,0.0,0.0,0.0,1.0
TWF,10000.0,0.00460,0.067671,0.0,0.0,0.0,0.0,1.0
HDF,10000.0,0.01150,0.106625,0.0,0.0,0.0,0.0,1.0
PWF,10000.0,0.00950,0.097009,0.0,0.0,0.0,0.0,1.0
OSF,10000.0,0.00980,0.098514,0.0,0.0,0.0,0.0,1.0
RNF,10000.0,0.00190,0.043550,0.0,0.0,0.0,0.0,1.0

In [28]:
df1[df1['Tool wear [min]'] == 0.0]

,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,M14860,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
78,L47258,L,298.8,308.9,1398,51.5,0,0,0,0,0,0,0
162,L47342,L,298.3,308.1,1586,35.5,0,0,0,0,0,0,0
250,L47430,L,298.0,308.3,1662,32.7,0,0,0,0,0,0,0
332,M15192,M,297.6,308.3,1538,40.2,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9672,H39086,H,299.0,310.2,1744,31.5,0,0,0,0,0,0,0
9759,L56939,L,298.5,309.7,1613,36.7,0,0,0,0,0,0,0
9834,M24694,M,298.3,309.1,1632,32.7,0,0,0,0,0,0,0
9908,L57088,L,298.6,309.0,1456,47.7,0,0,0,0,0,0,0
9989,M24849,M,298.8,308.5,1577,33.2,0,0,0,0,0,0,0